@mixin setDisplayFlex($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

@mixin setButtonStyle($fontColor, $backgroundColor, $borderRadius, $boxShadow) {
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  font-size: 1rem;
  font-weight: bold;
  color: $fontColor;
  background-color: $backgroundColor;
}

@mixin heroFont($fontColor, $fontFamily) {
  font-family: $fontFamily;
  font-size: 2rem;
  font-weight: 700;
  color: $fontColor;
  margin: 0;
}
@mixin secondaryFont($fontColor, $fontFamily) {
  font-family: $fontFamily;
  font-size: 1.2rem;
  color: $fontColor;
}

@mixin titelFont($fontColor, $fontFamily) {
  font-family: $fontFamily;
  font-size: 1rem;
  font-weight: 700;
  color: $fontColor;
}

@mixin textFont($fontColor) {
  font-size: 0.88rem;
  font-weight: 500;
  color: $fontColor;
}
