@use "./index" as *;

.footerMainContainer {
  background-color: $dimBlue;
  display: grid;
  font-family: $fontFamily;
  width: 375px;
  color: $white;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  .footer-box {
    margin: 10px;
    h3 {
      font-size: 13px;
    }
    p {
      font-size: 10px;
    }
  }
}
