@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.headerMainContainer {
  background-color: rgb(6, 104, 157);
  display: flex;
  width: 370px;
  height: 95px;
  align-items: center;
  justify-content: space-between;

  .left-container {
    display: grid;
    gap: 0.6rem;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    .ball {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background-color: rgb(157, 218, 251);
    }

    h1 {
      font-family: ubuntu;
      font-weight: 400;
      font-size: 37px;
    }
  }
}
