@use "./index" as *;

.reviewForms {
  @include setDisplayFlex($row);
  @include secondaryFont($black, $fontFamily);
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.reviewInput {
  @include textFont($black, $fontFamily, $useSmallSize: true);
  width: 100%;
  max-width: 200px;
  height: 63px;
  padding: 4px;
  border: none;
  border-radius: 4px;
  resize: none;
}
.reviewInput::placeholder {
  font-style: italic;
}

.ratingInput {
  @include textFont($black, $fontFamily);
  padding-left: 0.5rem;
  height: 20px;
  width: 55px;
  background-color: $white;
  border: none;
}

.ratingInput::-webkit-outer-spin-button,
.ratingInput::-webkit-inner-spin-button {
  -webkit-appearance: auto;
  appearance: auto;
  opacity: 1;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviewButton {
  @include setButtonStyle($black, $white);
  padding: 3px;
  @include textFont($black, $fontFamily);
  margin-top: 5px;
  padding: 5px;
}
