@use "./index" as *;

.upcommingMeetupContainer {
  background: $shaddow;
  color: $black;
  width: 330px;
  padding: 10px;
  border-radius: $rounded;
  margin: 15px;
  font-family: $fontFamily;
}

.headerContent {
  @include setDisplayFlex($row);
  align-items: center;
  justify-content: space-between;
  @include textFont($black, $fontFamily, true);
}

.expandMoreIcon {
  width: 20px;
  margin-left: auto;
  display: inline-block;
  transform-origin: center;
  margin: 0;
  transition: transform 0.3s;
  align-self: flex-end;
  cursor: pointer;
}

.additionalContent {
  margin-top: 8px;
  padding: 5px;
  background-color: $shaddow;
  border-radius: 5px;
  color: $black;

  @include textFont($black, $fontFamily, true);
}

.desc {
  padding-bottom: 10px;
}
.bookingBtn {
  margin-top: 0.5rem;
  @include setButtonStyle($white, $dimBlue);
  font-size: 0.8rem;
  padding: 0.5rem;
  cursor: pointer;
}

.openReview {
  @include setDisplayFlex($row);
  @include textFont($black, $fontFamily);
  list-style: none;
}
